.wrapper__contacts {
    background: var(--background-secondary);
    flex: 0 0 auto;
    width: 100%;
}

.contacts {
    display: flex;
    flex-direction: column;
    padding: 150px 40px;
    margin: 0px auto;
    max-width: 1080px;

    &__subtitle {
        color: var(--accent-color);
        font-weight: 700;
        margin-bottom: 10px;
    }

    &__title {
        color: var(--text-secondary);
        font-size: 25px;
        font-weight: 700;
        margin-bottom: 40px;
    }

    &__links {
        align-items: center;
        display: flex;
    }
}

.contact-link {
    align-items: center;
    display: flex;
    margin-bottom: 40px;

    &:first-child {
        margin-right: 40px;
    }

    &__wrapper {
        box-shadow: 0px 0px 10px var(--box-shadow-primary);
        border-radius: 50px;
        align-items: center;
        display: flex;
        justify-content: center;
        margin-right: 15px;
        height: 50px;
        width: 50px;
    }

    &__right {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        &-title {
            color: var(--text-secondary);
            font-weight: 700;
        }

        &-text {
            color: var(--text-primary);
            cursor: pointer;
        }
    }
}


@media(hover: hover) {
    .contact-link__right-text:hover {
        color: var(--accent-color);
    }
}

@media(max-width: 1024px) {
    .contacts {
        align-items: center;
        max-width: 580px;

        &__title {
            text-align: center;
        }
    }
}

@media(max-width: 500px) {
    .contacts {
        padding: 80px 30px;

        &__links {
            justify-content: space-between;
            width: 310px;
        }
    }

    .contact-link:first-child {
        margin-right: 0px;
    }

    .contact-link--last {
        width: 310px;
    }

    .contact-link__wrapper {
        flex: 0 0 auto;
        height: 40px;
        width: 40px;

        &-icon {
            height: 50%;
            width: 50%;
        }
    }
}
